font{ color: white;}

body {background-color: black;}

#container{background-color: black;
     width: 1200px;
    margin: 20px auto;
border: 2px none white;
padding: 20px;}


img{display: block;
 margin: 0 auto;
width: 750px;}

nav {text-align: center;
    margin: 20px 0;
    background-color: black;
    padding: 5px;
    }

nav ul { list-style-type: none;
    padding: 0;
}
nav li { display: inline-block;
}


nav li a {display: block;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 20px;
}

h1,h2,h3,footer{text-align: center;}