/* Global Style */

body {
    background-color: black;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    background-image: url(../images/dirty.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

#container{

    background-color: gray;
    width: 100%;
    margin: 20px auto;
    border: 4px gray;
    padding: 8px;

}

img {
    display: block;
    margin: 0 auto;
    width: 75%;
 }
 
 
 
 .video_align{
    display: block;
    margin: 0 auto;
    width: 100%;
 }

 .pic_post{
    width: 50%;
 }
 
 /* Mobile Styles */
 
 @media (min-width: 320px) {

    
 
 nav{
    background-color: black;
    padding: 5px;
    margin-top: 10px;
    text-align: center;
    
    
 }
 nav ul{
    list-style-type: none;
    padding: 0;
    
    }
 
    nav li{
       display: block;
       
    }
    
    nav li a {
       display: block;
       color: white;
       height: 30px;
       line-height: 40px;
       background-color: black;
       font-size: 21px;
       text-decoration: none;
       margin-top: 5px;
       font-style: italic;
    }
    nav li a:hover{
 
     background-color: yellow;
 }
 
 main{
    padding: 20px;
 }
 
 h1,h2,h3{
    color: black;
    text-align: center;
    text-shadow: 1px 1px 1px white;
    font-size: x-large;
    font-style: italic;
    
 }
  
 p{
    color: white;
    font-style: italic;
 }

 
 ul{
    color: white;
 }
 
 footer{
    text-align: center;
    color: white;
    padding: 40px;
 }
 
 }
 /* Tablet Styles */
 
 @media (min-width: 768px){
 
 nav li{
    display: inline-block;
 }
 
 nav li a{
    width: 125px;
    height: 50px;
    line-height: 50px;
    margin: 5px;
 }
 
 .pic_post {
    width: 100%;
 }
 
 .video_align{
    width: 50%;
 }
 }
 
 /* Desktop Styles */
 
 @media (min-width: 1024px){

 

    #container{
       width: 65%;
       margin: 20px auto;
       border: 3px solid white;
       border-radius: 20px;
    }
 
    
 
 
 nav{
    padding: 0;
    
 }
 
 nav li a{
    background-color: black;
 }
 
 .pic_post {
    width: 50%;
 }
 
 .video_align{
    width: 100%;
 }
 img {
    display: block;
    margin: 0 auto;
    width: 50%;
 }
 
 hr{
    display: block;
    padding: 2%;
    
 }
 
 .multi_col {
    display: flex;
 }
 
 .col{
 margin: 20px;
 padding: 20px;
 border: 2px solid white;
 
 
 }



 
 
 }